@model TranTrongTin_1811061705.Models.Product

@{
    ViewData["Title"] = Model.Name;
}

<div class="features-title">THÔNG TIN SẢN PHẨM</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="@Model.ImageUrl" class="img-fluid" alt="@Model.Name">
        </div>
        
        <div class="col-md-7">
            <h2>@Model.Name</h2>
            <p>Giá: @Model.Price.ToString("N0") VNĐ</p>
            <p>Mô tả: @Model.Description</p>

            <div class="d-flex gap-3">
                <a href="/" class="btn btn-secondary">Quay lại</a>

                <form asp-action="Add" asp-controller="Cart" method="post">
                    <input type="hidden" name="productId" value="@Model.Id">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa-solid fa-cart-plus"></i> Thêm vào giỏ hàng
                    </button>
                </form>
            </div>
        </div>


       

       
       
    </div>
</div>

