@model IEnumerable<TranTrongTin_1811061705.Models.Product>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
}

<div class="features-title">FEATURED ITEMS</div>

<div class="row">
    @foreach (var product in Model)
    {

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Price.ToString("N0") VNĐ</p>

                    <div class="d-flex gap-2">
                        <a href="/Product/Detail/@product.Id" class="btn btn-primary">Xem chi tiết</a>

                        <form asp-action="AddToCart" asp-controller="ShoppingCart" method="post">
                            <input type="hidden" name="productId" value="@product.Id">
                            <input type="hidden" name="quantity" value="1"> <!-- Mặc định số lượng là 1 -->
                            <button type="submit" class="btn btn-danger">
                                <i class="fa-solid fa-cart-plus"></i> Thêm vào giỏ
                            </button>
                        </form>

                    </div>

                </div>
            </div>
        </div>

    }
</div>

